body{
    
    background-color: teal;
    font: Arial, 15px, normal;


}

header{

    color:white;
    text-align: center;
    font: normal, 30px,  ;
   
}

footer {

    color: white;
    text-align: center;
    font-style: Arial;
    padding: 15px;

}

select#seltab{

    width: 170px;

}

section {

    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.616);

}

